{% extends "./base.njk" %}

{% block content %}
<div class="container mx-auto">
	<div class="gap-8">
		<article class="article prose lg:prose-xl mx-auto">
			<h1 class="pt-5">{{ title }}</h1>
			{{ content | safe }}

			<h2>Guides</h2>
			<ul>
			{% for post in collections.guide %}
				<li>
					<a class="italic font-bold" href="{{ post.url }}">{{ post.data.title }}</a> by {{ post.data.author }}
					<div class="p-0 m-0 text-sm">
						{% for tag in post.data.tags | sort %}
							{% if tag != "guide" %}
								<span class="font-mono mr-3 p-1 pl-2 pr-2 bg-slate-400 font-bold text-white">{{ tag }}</span>
							{% endif %}
						{% endfor %}
					</div>
				</li>
			{% endfor %}
			</ul>

			<h2>Articles</h2>
			<ul>
			{% for post in collections.article %}
				<li><a class="italic" href="{{ post.url }}">{{ post.data.title }}</a> by {{ post.data.author }}</li>
			{% endfor %}
			</ul>
		</article>
	</div>
</div>
{% endblock %}