<!DOCTYPE html>
<html>
	<head data-theme="light">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/tailwind.css">
		<link rel="stylesheet" href="/assets/css/global.css" />
		{% require "theme-change" %}
		<title>{{ title }}</title>
	</head>
	<body class="min-h-screen">
        {% block content %}
        {% endblock %}
    </body>
</html>
