{% extends "./base.njk" %}

{% block content %}

<header>
    <div class="hero h-80 w-full" style="background-image: url(/assets/img/server_racks.jpg);">
        <div class="hero-overlay bg-opacity-20"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">UCREL Hex</h1>
                <p class="mb-5">A shared, hybrid multiprocessor system</p>
            </div>
        </div>
    </div>
</header>

{% include "partials/navbar.njk" %}

<div class="container mx-auto">
    <div class="p-5">
        {% include "partials/global-notify.njk" %}
    </div>

    <article class="prose mx-auto">
        {{ content | safe }}
    </article>
</div>

{% include "partials/footer.njk" %}

{% endblock %}