<footer class="p-5">
    <div class="footer p-10 bg-slate-300 rounded-md dark:text-gray-200 dark:bg-slate-600">
        <nav class="prose text-white dark:text-gray-200">
            <h5>Contacts</h5>
            <a href="mailto:j.vidler@lancaster.ac.uk" class="text-white dark:text-gray-200">Dr. John Vidler</a>
            <a href="mailto:p.rayson@lancaster.ac.uk" class="text-white dark:text-gray-200">Prof. Paul Rayson</a>
        </nav>
        <nav class="prose text-white dark:text-gray-200">
            <h5>Related Sites</h5>
            <a href="https://ucrel.lancs.ac.uk/" class="text-white dark:text-gray-200">UCREL Group Homepage</a>
            <a href="https://www.lancaster.ac.uk/scc/" class="text-white dark:text-gray-200">School of Computing and Communcations</a>
            <a href="https://www.lancaster.ac.uk/" class="text-white dark:text-gray-200">Lancaster University</a>
        </nav>
        <nav class="prose text-white dark:text-gray-200">
            <h5>Miscellaneous</h5>
            <a href="https://status.ucrel-hex.scc.lancs.ac.uk" class="text-white dark:text-gray-200">Service Status</a>
            <a href="https://ucrel-hex.scc.lancs.ac.uk/grafana" class="text-white dark:text-gray-200">Logs and Metrics</a>
            <a href="/pages/history" class="text-white dark:text-gray-200">Service History</a>
        </nav>
    </div>
</footer>