<footer class="p-5">
    <div class="footer p-10 bg-neutral text-neutral-content dark:bg-slate-500 dark:from-gray-200 rounded-md">
        <nav class="prose">
            <h6>Contacts</h6>
            <a href="mailto:j.vidler@lancaster.ac.uk">Dr. John Vidler</a>
            <a href="mailto:p.rayson@lancaster.ac.uk">Prof. Paul Rayson</a>
        </nav>
        <nav class="prose">
            <h6>Related Sites</h6>
            <a href="https://ucrel.lancs.ac.uk/">UCREL Group Homepage</a>
            <a href="https://www.lancaster.ac.uk/scc/">School of Computing and Communcations</a>
            <a href="https://www.lancaster.ac.uk/">Lancaster University</a>
        </nav>
        <nav class="prose">
            <h6>Miscellaneous</h6>
            <a href="https://status.ucrel-hex.scc.lancs.ac.uk">Service Status</a>
            <a href="https://ucrel-hex.scc.lancs.ac.uk/grafana">Logs and Metrics</a>
            <a href="/pages/history">Service History</a>
        </nav>
    </div>
</footer>